{% extends "main/base.html" %}
{% load static %}

{% block title %}
    Активация
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    {% if not user.licensed %}
        <main class="form-signin w-100 m-auto">
            <form method="POST">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Активация ключа</h1>
                <div class="form-floating">
                    <input type="text" name="key" class="form-control" id="key" placeholder="key" required>
                    <label for="key">Ключ</label>
                </div>
                <button class="btn btn-success w-100 py-2" type="submit">Активировать</button>
            </form>
        </main>
    {% else %}
        <h1>Статус лицензии</h1>
        <h2>Ваша лицензия уже активирована, поэтому на этой странице будет отображёна информация о ней</h2>
        {% for i in range %}
            <p> </p>
        {% endfor %}

        <h5>Оплаченный лимит: {{ user.license_key.time_limit }}</h5>
        <h5>План: {{ user.license_key.plan }}</h5>
        <h5>Дата истечения срока: {{ user.license_key.expire_date }}<h3>
    {% endif %}
{% endblock %}