{% extends "main/base.html" %}
{% load static %}

{% block title %}
Univer premium
{% endblock %}

{% block body %}
<div class="center">
<h1 class="display-5 fw-bold text-body-emphasis">Univer Premium</h1>
<div class="row">
      <div class="col-lg-4">
        <img class="d-block mx-auto mb-4" src="{% static 'premium/img/Screenshot_12.png' %}"
             alt="" width="285" height="287">
        <h2 class="fw-normal">Премиум-сервис для создания мерча университета</h2>
        <p>Если вы ректор университета, то, вероятно, задумывались о том, как сделать ваши учебные заведения более
            запоминающимися и привлекательными для студентов и других заинтересованных лиц. Один из способов — это
            выпуск мерча с символикой университета. Мы рады предложить вам уникальную медиа-премиум функцию
            «UNIVER.BY-Магазин мерчей». С ее помощью ректор университета сможет создать собственный магазин мерча,
            который станет настоящим источником вдохновения и способом рассказать о вашем учебном заведении.</p>
      </div>
      <div class="col-lg-4">
        <img class="d-block mx-auto mb-4" src="{% static 'premium/img/Screenshot_14.png' %}"
             alt="" width="285" height="287">
        <h2 class="fw-normal">Премиум-функция UNIVER.BY — добавление новых функций в сообщения и статус</h2>
        <p>Что вы получите с премиум-функцией:

Новые эмодзи и стикеры: добавьте яркие и оригинальные эмодзи и стикеры в свои сообщения, чтобы сделать их более
            выразительными и запоминающимися.

Фон и шаблоны: выберите фон или шаблон для своих сообщений и статуса, чтобы создать уникальный стиль. Специальные
            эффекты: используйте специальные эффекты, такие как тени, блики и отражения, чтобы придать своим сообщениям
            и статусу уникальный вид.

</p>
      </div>
      <div class="col-lg-4">
        <img class="d-block mx-auto mb-4" src="{% static 'premium/img/Screenshot_13.png' %}" alt="" width="285"
             height="287">
        <h2 class="fw-normal">Более качественные созвоны</h2>
        <p>Использовать высококачественные микрофоны и динамики для обеспечения чистого и чёткого звука во время
            созвонов.

Настроить параметры звука в соответствии с вашими предпочтениями.

Использовать функции шумоподавления для минимизации фоновых шумов во время созвона.

Подключать внешние устройства (например, гарнитуру) для более комфортного общения.

Использовать голосовой чат для общения с другими участниками созвона.</p>
      </div>
    </div>

    <p class="border-bottom"></p>

<div class="row">
      <div class="col-lg-4">
        <img class="d-block mx-auto mb-4" src="{% static 'premium/img/Screenshot_15.png' %}"
             alt="" width="400" height="287">
        <h2 class="fw-normal">Эксклюзивные мероприятия</h2>
        <p>Участие в закрытых онлайн-конференциях и мастер-классах;
  организация выездных семинаров и тренингов;
  *доступ к закрытому клубу выпускников, где можно обмениваться опытом и получать поддержку.  Эксклюзивные видеоуроки и
            вебинары от ведущих экспертов;
  доступ к закрытым форумам и чатам для общения с другими учениками.</p>
      </div>
      <div class="col-lg-4">
        <img class="d-block mx-auto mb-4" src="{% static 'premium/img/Screenshot_16.png' %}"
             alt="" width="300" height="287">
        <h2 class="fw-normal">Дополнительный контент для учителей на образовательном сайте UNIVER.BY</h2>
        <p>Тестовые задания прошлых лет. На сайте можно разместить тестовые задания прошлых лет, чтобы учителя могли
            попрактиковаться в решении аналогичных задач. Методические рекомендации. Эксперты могут предоставить
            учителям методические рекомендации по подготовке к экзаменам, которые помогут им систематизировать свои
            знания и улучшить навыки решения задач.

Дополнительные материалы для самостоятельной работы. На сайте можно разместить дополнительные материалы для
            самостоятельной работы, которые помогут учителям углубить свои знания и навыки.



</p>
      </div>
      <div class="col-lg-4">
        <img class="d-block mx-auto mb-4" src="{% static 'premium/img/Screenshot_17.png' %}"
             alt="" width="300" height="287">
        <h2 class="fw-normal">Исследовательские проекты на UNIVER.BY.</h2>
        <p>Возможно, ваш университет или школа предлагает программы, в рамках которых студенты и учителя могут получить
            доступ в лаборатории бесплатно при участии в определённых исследовательских проектах или мероприятиях.</p>
      </div>
    </div>

    <p class="border-bottom"></p>

<div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Доп-функции и предложения <span class="text-body-secondary">
            От UNIVER.BY</span></h2>
        <p class="lead">Скидки и акции. Пользователи премиум-аккаунта могут участвовать в специальных акциях и получать
            скидки на услуги и товары, связанные с образованием.

Доступ к закрытым группам и сообществам. Владельцы премиум-аккаунтов могут присоединиться к закрытым группам и
            сообществам, где они смогут общаться с другими студентами, преподавателями и экспертами в области
            образования.

Улучшенный интерфейс. Премиум-версия сайта может иметь улучшенный интерфейс, который обеспечивает более комфортное и
            приятное использование.

Поддержка 24/7. Пользователи премиум-аккаунта могут рассчитывать на поддержку в любое время суток. Это может быть
            особенно полезно в случае возникновения срочных вопросов или проблем.

Персонализированные рекомендации. Владельцы премиум-аккаунтов могут получать персонализированные рекомендации по выбору
            университетов, подбору курсов и другим аспектам образования.

Эксклюзивные предложения от университетов. Премиум-подписчики могут получать эксклюзивные предложения от университетов,
            такие как скидки на обучение, стипендии или другие формы финансовой поддержки.

Участие в закрытых мероприятиях. Владельцы премиум-аккаунтов могут приглашаться на закрытые мероприятия, связанные с
            образованием, такие как конференции, семинары или мастер-классы.</p>
      </div>
      <div class="col-md-5">
        <img class="d-block mx-auto mb-4" src="{% static 'premium/img/Screenshot_19.png' %}"
             alt="" width="600" height="587">
      </div>
    </div>

<p class="border-bottom"></p>

<div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
      <div class="col d-flex flex-column align-items-start gap-2">
        <h2 class="fw-bold text-body-emphasis">Univer.By Premium</h2>
        <p class="text-body-secondary">Эти преимущества делают премиум-аккаунт Univer.By привлекательным выбором для
            студентов, преподавателей и всех, кто интересуется образованием.</p>
        <a href="{% url 'pricing' %}" class="btn btn-primary btn-lg">Тарифы</a>
        <a href="{% url 'premium_buy' %}" class="btn btn-outline-secondary">К оплате</a>
      </div>

      <div class="col">
        <div class="row row-cols-1 row-cols-sm-2 g-4 ">
          <div class="col d-flex flex-column gap-2 shadow-lg rounded-3 border">
            <h4 class="fw-semibold mb-0 text-body-emphasis">Обучение и подготовка к экзаменам</h4>
            <p class="text-body-secondary">Премиум-подписчики могут получать доступ к онлайн-курсам и материалам для
                подготовки к экзаменам, которые помогут им улучшить свои знания и навыки.</p>
          </div>

          <div class="col d-flex flex-column gap-2 shadow-lg rounded-3 border ">

            <h4 class="fw-semibold mb-0 text-body-emphasis">Уведомления о важных событиях и предложениях </h4>
            <p class="text-body-secondary">Пользователи премиум-аккаунта могут получать уведомления о важных событиях,
                таких как начало нового учебного года, скидки на обучение или открытые вакансии.

</p>
          </div>

          <div class="col d-flex flex-column gap-2 shadow-lg rounded-3 border">
            <h4 class="fw-semibold mb-0 text-body-emphasis">Онлайн-консультации с экспертами</h4>
            <p class="text-body-secondary">Владельцы премиум-аккаунтов могут получать онлайн-консультации с
                профессиональными экспертами в области образования, которые помогут им с выбором университета, курса или
                других образовательных вопросов.</p>
          </div>

          <div class="col d-flex flex-column gap-2 shadow-lg rounded-3 border">
            <h4 class="fw-semibold mb-0 text-body-emphasis">История поиска и рекомендации</h4>
            <p class="text-body-secondary"> Премиум-подписчики могут просматривать историю своих поисковых запросов и
                получать персонализированные рекомендации на основе своих предпочтений и интересов.</p>
          </div>
        </div>
      </div>
    </div>
</div>
    {% endblock %}