html,
body {
  height: 100%;
}

.form-signin {
  max-width: 400px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[name="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[name="password"], .form-signin input[name="password2"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin input[name="email"], .form-signin input[name="password1"] {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin input[name="key"] {
  margin-bottom: 10px;
}

div label {
  text-align: center;
}