body {
    font-family: Arial, sans-serif;
    transition: 1.5s ease;
}

body.light-theme {
    background-color: #fff;
    color: #333;

    --main-bg: #fff;
    --main-fg: #333;
    --message-success: #dfd;
    --message-warning: #ffc;
    --message-error: #ffefef;
}

body.dark-theme {
    background-color: #121212;
    color: #eee;

    --main-bg: #121212;
    --main-fg: #eee;
    --message-success: #006b1b;
    --message-warning: #583305;
    --message-error: #570808;
}

a, .btn {
    transition: transform .6s ease;
}

a:hover, .btn:hover {
    transform: scale(1.05);
}

div.messagelist {
    padding: 0;
}

div.messagelist li {
    display: block;
    padding: 10px 10px 10px 65px;
    background: var(--message-success) url("/static/admin/img/icon-yes.svg") 40px 12px no-repeat;
    border-radius: 7px;
}

div.messagelist li.warning {
    background: var(--message-warning) url("/static/admin/img/icon-alert.svg") 40px 14px no-repeat;
}

div.messagelist li.error {
    background: var(--message-error) url("/static/admin/img/icon-no.svg") 40px 12px no-repeat;
}

div.messagelist a {
    color: var(--main-fg);
    text-decoration: none;
}


.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}
