.error {
    font-size: 0.875rem;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: red;
    border: 1px solid red;
    border-radius: 4px;
    background-position: 5px 12px;
    overflow-wrap: break-word;
}


.success {
    font-size: 0.875rem;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: green;
    border: 1px solid green;
    border-radius: 4px;
    background-position: 5px 12px;
    overflow-wrap: break-word;
}


.warning {
    font-size: 0.875rem;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: #ffc700;
    border: 1px solid #ffc700;
    border-radius: 4px;
    background-position: 5px 12px;
    overflow-wrap: break-word;
}


.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.justify {
    text-align: justify;
}

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 200px 34%;
    text-align: left;
}
